

    <!-- mapa -->

    <div class="mapa">
      <div class="uk-card uk-card-default uk-card-hover uk-card-body">
        <div style="width:100%;height:350px" id="map"></div>
      </div>
    </div>
    <!-- directorio -->

{{#each users}}
    <section class="directorio">
      <div
        class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin"
        uk-grid
      >
        <div class="uk-card-media-left uk-cover-container">
          <img
            src="{{this.photoURL}}"
            alt=""
            style="height:200px"
            uk-cover
          />
          <canvas width="600" height="300"></canvas>
        </div>
        <div>
          <div class="uk-card-body">
            <h3 class="uk-card-title">Nombre: {{this.username}}</h3>
            <p>Dirección: {{this.direccion}}</p>
            <div class="uk-card-footer">
              <a href="/profile/{{this.username}}"
                class="uk-button uk-button-default"
                style="margin-top: 10px;"
              >
                Agendar Cita
              </a>
              <a
                class="uk-button uk-button-default"
                style="margin-top: 10px;"
                href="/profile/{{this.username}}"
              >
                Ver Perfil
              </a>
              <a
                class="uk-button uk-button-default"
                style="margin-top: 10px;"
              >
                Agregar opinión
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>

    {{/each}}


<script>
function initMap() {
 
    var Doctor1 = {lat: 19.432608, lng: -99.133209};
    var Doctor2 = {lat: 19.402608, lng: -99.123209};

  var map = new google.maps.Map(
      document.getElementById('map'), {zoom: 15, center: Doctor1});
  var marker = new google.maps.Marker({position: Doctor1, map: map, title: 'Doctor1'});
  var markerTwo = new google.maps.Marker({position: Doctor2, map: map, title: 'Doctor2'});
}
    </script>
   
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBeuv5OUrNW0X9zonL9ldzdjgFR9KtRwM8&callback=initMap">
    </script>



{{!-- ////////////////////////////////// --}}


<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
  
  
  