

    <!-- mapa -->

    <div class="mapa">
      <div class="uk-card uk-card-default uk-card-hover uk-card-body">
        <div style="width:100%;height:350px" id="map"></div>
      </div>
    </div>
    <!-- directorio -->

{{#each users}}
    <section class="directorio">
      <div
        class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin"
        uk-grid
      >
        <div class="uk-card-media-left uk-cover-container">
          <img
            src="{{this.photoURL}}"
            alt=""
            style="height:200px"
            uk-cover
          />
          <canvas width="600" height="300"></canvas>
        </div>
        <div>
          <div class="uk-card-body">
            <h3 class="uk-card-title">Nombre: {{this.username}}</h3>
            <p>Dirección: {{this.direccion}}</p>
            <div class="uk-card-footer">
              <a href="/profile/{{this.username}}"
                class="uk-button uk-button-default"
                style="margin-top: 10px;"
              >
                Agendar Cita
              </a>
              <a
                class="uk-button uk-button-default"
                style="margin-top: 10px;"
                href="/profile/{{this.username}}"
              >
                Ver Perfil
              </a>
              <a
                class="uk-button uk-button-default"
                style="margin-top: 10px;"
              >
                Agregar opinión
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>

    {{/each}}

  

<div id="map"></div>


  <script>
      var map;
      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          zoom: 16,
          center: new google.maps.LatLng(19.393664, -99.1745978),
          mapTypeId: 'roadmap'
        });

        var iconBase = 'http://maps.google.com/mapfiles/kml/pal4/';
        var icons = {
          info: {
            icon: iconBase + 'icon55.png'
          }
        };

        var features = [
          {
            position: new google.maps.LatLng(19.393664, -99.1745978),
            type: 'info',
            title: 'Carlos Alberto Becerra Laguna'
          }, {
            position: new google.maps.LatLng(19.390064, -99.1845978),
            type: 'info',
            title: 'Paola Jacobo Oceguera'
          }, {
            position: new google.maps.LatLng(19.380064, -99.1765978),
            type: 'info',
            title: 'Marco Antonio Perez Mora'
          }, {
            position: new google.maps.LatLng(19.391004, -99.1799000),
            type: 'info',
            title: 'Mariana Moralez'
          }, {
            position: new google.maps.LatLng(19.371664, -99.1768888),
            type: 'info'
          }, {
            position: new google.maps.LatLng(19.371664, -99.1768988),
            type: 'info'
          }, {
            position: new google.maps.LatLng(19.382599, -99.1667978),
            type: 'info'
          }, {
            position: new google.maps.LatLng(19.383964, -99.1766978),
            type: 'info'
          }, {
            position: new google.maps.LatLng(19.385864, -99.1700278),
            type: 'info'
          }, {
            position: new google.maps.LatLng(19.392000, -99.1765478),
            type: 'info'
          }, {
            position: new google.maps.LatLng(19.394985, -99.1765578),
            type: 'info'
          }
        ];

        // Create markers.
        features.forEach(function(feature) {
          var marker = new google.maps.Marker({
            position: feature.position,
            icon: icons[feature.type].icon,
            map: map
          });
        });
      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBeuv5OUrNW0X9zonL9ldzdjgFR9KtRwM8&callback=initMap">
    </script>